<!DOCTYPE html>
<html>
<head>
  <title>LAIA Database</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">LAIA database</span>
      <h2 style="text-align:center;color: #f7f7f7;">A Safe Way To Share Environmental Data</h2>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">AUTONOMY, SECURITY AND FREEDOM</h3>
  <P>Data is knowledge! LAIA ensures data sharing and storage while protecting against different types of malicious attacks and censorship</p>
  <p>Digital life. Real Life! A private Peer-to-Peer (P2P) topology where trusted peers estabilish secure connections in the network.</p>
  <p></p>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">DECENTRALIZATION, SCALABILITY AND PRIVACY FOR ENVIRONMENTAL DATA </span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Organize your group and connect to different projects via encrypted connection</p>
    <p>Share the data only with trusted peers</p>
    <p>Store your data forever with no risk of single point of failure</p>
    <p>Free and Open Source - No government or corporation controlling the data</p>
  </div>
</div>

<div class="bgimg-2">
  <div class="caption">
    <a href="doc/LAIAdb-2018.pdf" style= "text-decoration:none;" target="_blank"><span class="border2">READ MORE</span></a>
  </div>
</div>

</body>
</html>
